$primary-color: #004643;
$secondary-color: #F9BC60;
$tertiary-color: #E16162;
$background-color: #FEF6ED;

.container-fluid {
  background-color: $primary-color;
}
.header-container {
  margin: 0 20px;
  height: 55px;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fixed {
  position: fixed;
  width: 100%;
  transition: 0.5s linear;
  top: 0px;
}
.nofixed {
  position: static;
  transition: 0.3s linear;
  top: -50px;
}
.left-icon-container {
  display: flex;
  justify-content: left;
  padding: 0;
}
.left-icon-container img {
  height: 38px;
}
.right-icon-container {
  display: flex;
  justify-content: right;
  padding: 0;
}
.right-icon-mobile img {
  height: 25px;
  width: 25px;
}
.left-icon-container img:hover, .right-icon-mobile img:hover {
  opacity: 0.7;
}


// Web-mode 
@media (min-width: 768px){
  .header-container {
    max-width: 1180px;
    margin: 0 auto;  
    height: 80px;
  }
  .left-icon-container img {
    width: 110px;
  }
  .right-icon1-web {
    margin-right: 10px;
  }
  .right-icon1-web img, .right-icon2-web img  {
    height: 38px;
  }
  .right-icon1-web img:hover , .right-icon2-web img:hover {
    opacity: 0.7;
  }
  .header-search-bar {
    padding: 0 50px;
  }
  .search-bar {
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    padding: 0 18px;
  }
  input::placeholder {
  font-size: 1.3rem;
  opacity: .5;
  }
}



