<app-header 
  [leftIcon]="leftIcon"
  [rightIconWeb1]="rightIconWeb1"
  [rightIconWeb2]="rightIconWeb2"
  [rightIconMobile]="rightIconMobile"
  [leftIconLink]="leftIconLink"
  [rightIconWeb1Link]="rightIconWeb1Link"
  [rightIconWeb2Link]="rightIconWeb2Link"
  [rightIconMobileLink]="rightIconMobileLink"
  [rightBtn1Show]="rightBtn1Show"
  [rightBtn2Show]="rightBtn2Show"
  [rightBtnMobileShow]="rightBtnMobileShow">
</app-header>
<app-main-page-nav></app-main-page-nav>
<app-product-card-list></app-product-card-list>
<app-footer></app-footer>
<app-float-btn></app-float-btn>
